:root {
  --dark: #111827;
  --light: #f9fafb;
  --highlight: #fbbf24;
  --dimmed: #6b7280;
}

::selection {
  background: var(--highlight);
  color: #111827;
}

body {
  font-family: 'Poppins', helvetica, sans-serif;
  background: var(--dark);
  color: var(--light);
}

main {
  margin: 2rem auto;
  max-width: 56ch;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

label {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
}

label input {
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-radius: 0;
  border: 1px solid var(--light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: var(--dimmed);
}

input:focus {
  outline: 2px solid var(--highlight);
}

footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--dimmed);
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.output {
  border: 1px solid var(--dimmed);
  padding: 1rem;
}

.output ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li:not(:last-child) {
  margin-bottom: 1rem;
}
