:root {
  --dark: #111827;
  --light: #f9fafb;
  --highlight: #db2777;
  --dimmed: #6b7280;
}

::selection {
  background: var(--highlight);
  color: var(--light);
}

body {
  font-family: 'Poppins', helvetica, sans-serif;
  background: var(--dark);
  color: var(--light);
}

main {
  margin: 2rem auto;
  max-width: 56ch;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

label {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
}

label input {
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-radius: 0;
  border: 1px solid var(--light);
  border-radius: 0.25rem;
}

input[type='date'] {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  label {
    max-width: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: var(--dimmed);
}

input:focus {
  outline: 4px solid var(--highlight);
  caret-color: var(--highlight);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.output {
  border: 1px solid var(--dimmed);
  padding: 1rem;
}

.output ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li:not(:last-child) {
  margin-bottom: 1rem;
}
